<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landlord Signup</title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <div class="form">
      <h4>Signup</h4>
      <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Signup</button>
      </form>

      <div class="suggests">
        <div class="signup">
          <a href="/">Login</a>
        </div>
      </div>
    </div>
  
    <div class="footer"><p id="copyright">Collinsfrontend &copy;</p></div>
  </body>
  <script>
    document
      .getElementById("copyright")
      .appendChild(document.createTextNode(new Date().getFullYear()));
  </script>
</html>
