@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hello p{
  padding: 15px;
}
.container {
  padding: 20px 100px;
}
.container p{
  font-size: 14px;
  padding: 5px 0;
}
.container h4{
   font-family: poppins;
  font-size: 20px;
  font-weight: 300;
  padding: 5px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000a8;
  width: 100%;
  height: 80px;
}
.nav img {
  width: 150px;
  margin-left: 20px;
}
.nav ul {
  display: flex;
  gap: 30px;
}
.nav ul li {
    list-style: none;
    margin-right: 20px;
}
button{
  background-color: #d38a1c;
  color: #fff;
  font-size: 14px;
  font-family: lato;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
}

p {
  font-family: poppins;
  font-size: 16px;
  font-weight: 300;
}
h4 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td {
  width: 33%;
}
tr:nth-child(1) {
  background-color: #d38a1c;
  color: #fff;
}
a {
  background-color: #d38a1c;
  color: #fff;
  font-size: 14px;
  font-family: lato;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 5px 9px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .add{
    display: flex;
    flex-direction: column;
  }
  .add input,button{
    margin-bottom: 5px;
  }
  .container {
    max-width: 550px;
    padding: 30px;
  }
  table{
    width: 100%;
  }
  p{
    font-size: 14px;
  }
  a {
    font-size: 12px;
    padding: 4px;
  }
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #000;
  font-size: 16px;
  font-family: lato;
}
.error{
  color: red;
 }